# Target & Test Images
*.o
*.bin
*.img
*.vdi

# Non-public documents
*.docx

# Target Utilities
partition

# geditor Temporary Files
*.asm~
*.inc~
*.h~
*.c~

# VSCode config files
.vscode
